.formacao {
    width: 100%;
    text-align: justify;
    position: relative;
    margin-top: 15px;
    background-color: #ffffff;
    border-radius: 8px;
    font-size: 16px;
}

.titulo {
    font-size: 28px;
    font-weight: bold;
    color: #333;
    margin-bottom: 0px;
    padding: 10px;
}



.curso {
    padding-left: 10px;
    padding-bottom: 10px;
}

.nome { 
    font-size: 22px;
}

.nome, .instituicao, .data {
    margin: 5px;
}

.data {
    color: #555;
    font-size: 14px;
}