<main class="main">
  <div class="left-main">
    <div class="left-main-1">
      <img class="banner" src="https://media.licdn.com/dms/image/v2/D4D16AQFG1O_vqPq9Rg/profile-displaybackgroundimage-shrink_350_1400/profile-displaybackgroundimage-shrink_350_1400/0/1690036701992?e=1737590400&v=beta&t=TTHHEWlEBVY5Y7NlvgoAh6UNFL5AvWgqwuzV9jDMJ5Q">
      <img class="my-picture" src="https://media.licdn.com/dms/image/v2/D4D03AQE8mXole8YEjA/profile-displayphoto-shrink_800_800/profile-displayphoto-shrink_800_800/0/1690037822505?e=1737590400&v=beta&t=IZHMtjkTGOPYbRJIoZG3ikyW4lPQaPj_66--066FVds">
      <div class="about">
        <h5>Kethelyn Ellen</h5>
        <p>Junior Backend Developer<br> C# | SQL Server <br></p>
      </div>
      <div class="analytics">
        <h5>Análise e ferramenta</h5>
        <p>43 impressões de postagens</p>
      </div>
      <div class="premium">
        <p>Access exclusive tools and insights</p>
        <a href="#">Try Premium for free</a>
    </div>
      <div class="my-item">
        <p>Meus itens</p>
    </div>
    <div class="left-main-2">
        <div class="page-notification">
          <p>Notificação de página</p>
          <p style="color: blue;">1</p>
        </div>
        <div class="page-notification">
          <p>Visitantes da página</p>
          <p style="color: blue;">2</p>
        </div>
      </div>
      <p>
        Veja análises de visitantes</p>
    </div>
  </div>
  <div class="middle-main">
    <div class="middle-main-1">
      <div class="post-1">
        <img class="middle-pic" src="https://media.licdn.com/dms/image/v2/D4D03AQE8mXole8YEjA/profile-displayphoto-shrink_800_800/profile-displayphoto-shrink_800_800/0/1690037822505?e=1737590400&v=beta&t=IZHMtjkTGOPYbRJIoZG3ikyW4lPQaPj_66--066FVds">
        <input class="post" type="text" placeholder="Comece uma publicação aqui">
      </div>
      <div class="linked-input">
        <div class="input">
          <img class="middle-pic" src="https://cdn.icon-icons.com/icons2/1603/PNG/512/news-newspaper-media-paper-press-article_108607.png">
          <p>Media</p>
        </div>
        <div class="input">
          <img class="middle-pic" src="https://cdn.icon-icons.com/icons2/2508/PNG/512/share_icon_150713.png">
          <p>Compartilhar Experiência</p>
        </div>
        <div class="input">
          <img class="middle-pic" src="https://cdn.icon-icons.com/icons2/4128/PNG/512/photo_align_right_image_icon_260488.png">
          <p>Escrever um artigo</p>
        </div>
      </div>
    </div>
    <div class="middle-main-2">
      <div class="post-about">
        <div>
          <img class="middle-pic" src="https://media.licdn.com/dms/image/v2/C4D0BAQEnPN0Y0nFPIQ/company-logo_200_200/company-logo_200_200/0/1659324817701/remotar_jobs_logo?e=1740009600&v=beta&t=sWlTzAuMxfCBkohagRFkxO4e9mx37NcpFKZWD9NaKWo">
        </div>
        <div>
          <p class="name">Remotar</p>
          <p class="name-about">185.318 seguidores</p>
        </div>
      </div>
      <div>
        <p>Chegamos com a lista de vagas remotas mais querida dessa rede! Vagas para diversas áreas, e muito mais no site:
          <a href="https://www.remotar.com.br" target="_blank">www.remotar.com.br</a>
        </p>
      </div>
      <img class="post-image" src="https://media.licdn.com/dms/image/v2/D4D22AQGKnrYAuPmQLg/feedshare-shrink_2048_1536/feedshare-shrink_2048_1536/0/1732032621465?e=1735171200&v=beta&t=EGbjqlmV9ce045vQyZi4pdNllPzu8nJrQlvAVJq4Jeg">
    </div>
    <div class="middle-main-2">
      <div class="post-about">
        <div>
          <img class="middle-pic" src="https://media.licdn.com/dms/image/v2/D4D0BAQHLLRosIta3Pg/company-logo_200_200/company-logo_200_200/0/1699556573165?e=1740009600&v=beta&t=eCLOqPC0C2oH06FRvqqz6n7vaZdjB-XU6CYF_5Cfo5E">
        </div>
        <div>
          <p class="name">Cumbuca Dev</p>
          <p class="name-about">112 seguidores</p>
          <p class="name-about">6h &#183; <i class="fa fa-globe" aria-hidden="true"></i></p>
        </div>
      </div>
      <div>
        <p>Nesta semana, demos início ao Programa de Mentorias Cumbuca Dev -Q424, marcando nosso primeiro encontro no dia 11/11! Durante as próximas seis semanas, nossa jornada será de troca intensa, conectando quem quer ajudar com quem precisa de orientação, sempre com o propósito de fortalecer a diversidade na tecnologia.

          O programa da Cumbuca Dev oferece:
          - Metodologia própria e prática: uma abordagem estruturada, curadoria cuidadosa de conteúdos e supervisão constante.
          - Experiência real em Open Source: com projetos ativos da Cumbuca Dev, como o brutils-python e o scanapi, trazendo o dia a dia tech para perto de cada participante.
          - Apoio personalizado e prático: direcionamento adaptado às metas e aos desafios de cada pessoa mentorada.
          
          Agradecemos profundamente a todas as pessoas que estão conosco nesta jornada e tornam nosso programa um espaço de crescimento e colaboração genuína. Nosso compromisso com um futuro tech mais inclusivo segue cada vez mais forte, impulsionado por quem acredita no poder da comunidade.
          
          Vamos em frente! 💜 🥥 
          
          hashtag#MentoriasCumbucaDevQ424 hashtag#CumbucaDev hashtag#InclusãoNaTecnologia hashtag#DiversidadeTech hashtag#Mentoria hashtag#OpenSource</p>
      </div>
      <img class="post-image" src="https://media.licdn.com/dms/image/v2/D4D22AQEXtV4CWnNwsg/feedshare-shrink_1280/feedshare-shrink_1280/0/1731526596913?e=1735171200&v=beta&t=hsThDI00RNX4wmPjGJC1QYHge4UGx-E5be7b7oJnSyQ">
    </div>
    <div class="middle-main-2">
      <div class="post-about">
        <div>
          <img class="middle-pic" src="https://media.licdn.com/dms/image/v2/D4D0BAQGz9zuAgROWFg/company-logo_200_200/company-logo_200_200/0/1730481215231/desenvolvimentosp_logo?e=1740009600&v=beta&t=TQga9c5e4CFRtZ2K8afMbnpoPctjNKINBGtrz1mGPO0">
        </div>
        <div>
          <p class="name">Secretaria de Desenvolvimento Econômico do Estado de São Paulo</p>
          <p class="name-about">Administração pública, defesa e seguridade social São Paulo, SP 9 mil seguidores, 201-500 funcionários</p>
          <p class="name-about">4d &#183; <i class="fa fa-globe" aria-hidden="true"></i></p>
        </div>
      </div>
      <div>
        <p>Garanta sua vaga no curso online de Inteligência Artificial do Qualifica SP com Google Cloud! Inscrições só até amanhã, 16/11. É totalmente grátis e você ainda recebe certificação ao final! Matricule-se agora:
          <a href="https://www.qualificasp.sp.gov.br" target="_blank">www.qualificasp.sp.gov.br</a></p>
      </div>
      <img class="post-image" src="https://media.licdn.com/dms/image/v2/D4D22AQGMNfMLn9hlCA/feedshare-shrink_1280/feedshare-shrink_1280/0/1731612370820?e=1735171200&v=beta&t=Fr9Fbphyz4s9HIiSIyoMm5fUKIIcsDlyvGZLhRQMDbQ">
    </div>
  </div>
  <div class="right-main">
    <div class="right-main-1">
      <div>
        <h4 style="padding: 0; margin: 0;">Adicione ao seu feed</h4>
      </div>
      <div class="arz-card">
        <div>
          <img class="arz" src="https://media.licdn.com/dms/image/v2/C4E0BAQF3u_ZkHJGzzA/company-logo_200_200/company-logo_200_200/0/1631353712223?e=1740009600&v=beta&t=no6d-ma6qVlB1AXC0kBekxO1quJa_tJMi3RUWnuztaY">
        </div>
        <div class="arz-info">
          <h5>ANBIMA</h5>
          <button id="follow-button-1" class="follow-button"> <i class="fa fa-plus"></i> Follow </button>
        </div>
      </div>
      <div class="arz-card">
        <div>
          <img class="arz" src="https://media.licdn.com/dms/image/v2/D4D0BAQGhbgk8p17Y_Q/company-logo_200_200/company-logo_200_200/0/1729209438578/mulheresemdados_logo?e=1740009600&v=beta&t=rNPDg9QCnsECf9_KHPo7As6BSgfHtyMyOTVXkAqNSvo">
        </div>
        <div class="arz-info">
          <h5>Mulheres em Dados</h5>
          <button id="follow-button-2" class="follow-button"> <i class="fa fa-plus"></i> Follow </button>
        </div>
      </div>
      <p style="font-size: 14px; text-align: center; margin-top: 10px; color: grey;">Ver todas as recomendações<i class="fa fa-arrow-right"></i></p>
    </div>
    <div class="position">
      <div class="right-main-2">
        <div class="link-box">
          <img class="link" src="https://media.licdn.com/dms/image/v2/D4D03AQE8mXole8YEjA/profile-displayphoto-shrink_200_200/profile-displayphoto-shrink_200_200/0/1690037822505?e=1737590400&v=beta&t=m1oQh_Mjgt8r3oLRhY2WXFzvI0xm4b5U0hPIu1pHErg">
          <img class="link-2" src="https://media.licdn.com/dms/image/v2/C4D0BAQGqOyW0fiptpg/company-logo_100_100/company-logo_100_100/0/1630552672879/volkswagen_financial_services_brasil_logo?e=1740009600&v=beta&t=5Y4C5fVaC8T9BEyPCQNtjzoqPrB4BQgmdV8huD_JeEg">
        </div>
        <p style="margin-left: 20px; margin-right: 20px;">Kethelyn, explore oportunidades relevantes na organização Volkswagen</p>
        <button id="follow-button-3" class="follow-button"><i class="fa fa-plus"></i> Seguir </button>
      </div>
      <div class="right-main-3">
        <div class="footer">
          <p>About</p> <p>Accessibility</p> <p>Help Center</p> <p>Privacy & Terms</p> <p>Ad choices</p> <p>Advertising</p>
          <p>Business Services</p> <p>Get the linkedin app</p> <p>More</p> <p>About</p>
        </div>
      </div>
    </div>
  </div>
</main>
<div class="messaging">
  <div class="dm-me">
    <img class="dp" src="">
    <p style="font-size: 14px; font-weight: bold; margin-left: 10px;">Mensagens</p>
  </div>
  <div class="icon-group">
    <i class="bi bi-filter-left"></i>
    <i class="bi bi-pencil-square"></i>
    <i class="bi bi-x-square"></i>
  </div>
</div>
